.glyphicon {
    color: lightseagreen;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: lightblue;
}

.table>thead>tr>th {
    background: darkslateblue;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}