.glyphicon {
    color: lightseagreen;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: lightblue;
}

.table>thead>tr>th {
    background: darkslateblue;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}